body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #fcd7c1;
  color: #030660;
  padding: 40px 20px;
  text-align: center;
}

footer h2,
footer h3,
footer h4 {
  text-align: center;
  color: #030660;
}

footer h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

footer h3 {
  font-size: 2em;
  margin: 20px 0;
}

footer h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

footer .footer-top {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  height: 100px;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin: 20px 0;
  text-align: left;
  font-weight: 500;
  font-size: 1em;
}

footer .footer-grid div {
  padding: 10px;
  text-align: center;
}

footer a {
  color: #030660;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

footer a:hover {
  color: #080a48;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

footer .social-icons i {
  font-size: 2em;
  margin: 0 10px;
  color: #f8833f;
}

footer .email-section {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

footer .email-section input {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  border: 1px solid #030660;
  background-color: #ffc8a8;
  border-radius: 5px;
}

footer p {
  font-size: 1.5em;
  margin: 10px 0;
  color: #030660;
}

@media (max-width: 1024px) {
  footer .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .footer-top {
    flex-direction: column;
    text-align: center;
  }

  footer .footer-grid div {
    text-align: center;
  }

  footer .social-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  footer .footer-grid {
    grid-template-columns: 1fr;
  }

  footer h2 {
    font-size: 2em;
  }

  footer h3 {
    font-size: 1.5em;
  }

  footer h4 {
    font-size: 1.2em;
  }

  footer .email-section input {
    max-width: 90%;
  }

  footer p {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  footer h2 {
    font-size: 1.8em;
  }

  footer h3 {
    font-size: 1.4em;
  }

  footer h4 {
    font-size: 1.1em;
  }

  footer p {
    font-size: 1.2em;
  }

  footer .social-icons i {
    font-size: 1.5em;
  }

  footer .email-section input {
    max-width: 100%;
  }
}
